﻿<MudDialog>
    <DialogContent>
        <EditForm Model="changePasswordDTO">
            <DataAnnotationsValidator />
            <MudTextField Label="@GetDisplayName(() => changePasswordDTO.CurrentPassword)"
                          InputType="InputType.Password"
                          @bind-Value="@changePasswordDTO.CurrentPassword"
                          For="@(() => changePasswordDTO.CurrentPassword)" />
            <MudTextField Label="@GetDisplayName(() => changePasswordDTO.NewPassword)"
                          InputType="InputType.Password"
                          @bind-Value="@changePasswordDTO.NewPassword"
                          For="@(() => changePasswordDTO.NewPassword)" />
            <MudTextField Label="@GetDisplayName(() => changePasswordDTO.Confirm)"
                          InputType="InputType.Password"
                          @bind-Value="@changePasswordDTO.Confirm"
                          For="@(() => changePasswordDTO.Confirm)" />
            <br />
            <div class="mb-4" style="display: flex; justify-content: center; gap: 10px; margin-top: 10px;">
                <MudButton Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Save"
                           Color="Color.Dark"
                           OnClick="ChangePasswordAsync">
                    Guardar
                </MudButton>
                <MudButton Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.ArrowBack"
                           Color="Color.Surface"
                           OnClick="ReturnAction">
                    Cancel
                </MudButton>
            </div>
        </EditForm>

    </DialogContent>
</MudDialog>